<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f74f54">
    <title>
      {% block title %} Base {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/helper.css" %}">
  </head>

  <body>

  <nav class="navbar navbar-expand-sm navbar-light sticky-top" style="background-color:#f74f54;">
    <a class="navbar-brand" href="{% url "basic_app:index" %}">
      <img src="{% static "images/logo_news_hunter.png" %}" class="mr-2 mb-1" width="30">
    News Hunter</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% block search %}
        <!-- PASTE THIS CODE IN TEMPLATES ONLY WHERE SEARCH BOX IS NEEDED
          <li class="nav-item mt-sm-0  mr-1 mt-2">
            <form method="GET" class="form-inline" autocomplete="off">
              <input  class="form-control" type="search" placeholder="Search News..." name="q" >
            </form>
          </li>
        -->
        {% endblock %}
        <li class="nav-item mt-sm-0 mt-2">
          <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://drive.google.com/file/d/1CZVBi9f3cagu_ZxaWSqj_YkZtR-7jtUi/view?usp=drivesdk">
            Get App</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block body_block %}

    {% endblock %}
  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
