{% extends "basic_app/base.html" %}
{% load static %}

{% block title %}
  Home Page
{% endblock %}

{% block body_block %}

<!-- api = "https://newsapi.org/v2/top-headlines?country=us&apiKey=cb9951ac79724fe7a06b2c30afb1d831" -->

  <div class="jumbotron mt-2 p-0">

    {% if newsItemList %}

    <h4 class="pt-4">Get Latest Updates:</h4>
    <hr>

    <div class="row">
      {% for i in newsItemList %}

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mx-auto">
          <div class="card mt-2 mb-2" style=" border-radius:10px;">

            <img src="{{ i.img_url }}" class="card-img-top" alt=""
            style="width:auto!important; height:200px; border-top-right-radius:10px; border-top-left-radius:10px;">

            <div class="date_box">
              <p>{{ i.date }}<i class="fa fa-calendar-o"></i></p>
            </div>

            <p id="writer">{{ i.writer }}</p>

            <div class="card-body">
              <h5 class="card-title text-left mt-0"><strong>{{ i.title }}</strong></h5>
              <p class="card-text text-left">{{ i.desc }}</p>
            </div>

            <p class="ml-3"><strong>{{ i.author }}<i id="bookmark" class="fa fa-bookmark"></i></strong></p>

          </div>
        </div>

      {% endfor %}
    </div>

    {% else %}
      <h3>No data Available</h3>
    {% endif %}


  </div>

{% endblock %}
